[user]
	email = khannayaab@gmail.com
	name = Nayaabkhan Khan
	signingkey = 9CB8295FB0892A59

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[pull]
	# https://git-scm.com/docs/git-config#git-config-pullrebase
	rebase = true

[push]
	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple
	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true

[commit]
	# https://help.github.com/articles/signing-commits-using-gpg/
	gpgsign = true
	verbose = true
[gpg]
	program = gpg
[core]
	excludesfile = /Users/nayaabkhan/.gitignore
	editor = subl -w
	pager = diff-so-fancy | less --tabs=4 -RFX

